[submodule "xterm"]
	path = xterm
	url = https://github.com/TerminalStudio/xterm.dart.git
[submodule "pty"]
	path = pty
	url = https://github.com/TerminalStudio/pty.git
[submodule "tabs"]
	path = tabs
	url = https://github.com/TerminalStudio/tabs.git
[submodule "context_menu_macos"]
	path = context_menu_macos
	url = https://github.com/TerminalStudio/context_menu_macos.git
