[submodule "xterm"]
	path = xterm
	url = https://github.com/TerminalStudio/xterm.dart.git
	branch = master
[submodule "pty"]
	path = pty
	url = https://github.com/TerminalStudio/pty.git
	branch = master